[Unit]
Description=Storm Supervisor
After=network.target

[Service]
User=storm
Group=storm
EnvironmentFile=/etc/sysconfig/storm
ExecStart=/usr/local/storm/bin/storm  --config /usr/local/storm/conf/storm.yaml supervisor
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=storm-supervisor
SyslogLevel=debug
#SyslogLevelPrefix=true

[Install]
WantedBy=multi-user.target